

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #cbd5da;
}

.wave{    
  position: fixed;
  bottom: 0;
  left: 0;
  height: 80%;
  /* z-index: -1; */

}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #b5c0c5;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.dept{
  margin: 33px 0 0 0;
}

.card{
  background: transparent;
}

.card-title{
  text-align: center;
}
.try {
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 3em;
  
}



.container{
  color: bisque;
}

.selector:hover{
  
  background-color: #07BEF9;
  color: white;

}

.selector:hover h3 {
  transform: scale(1.1);
  transition: 0.5s;
  color: #FFF;
}

.selector:hover i {
  transform: scale(1.3);
  transition: 0.5s;
  color: white;
}



a{
  color: black;
}

/* h3:hover{
  color: blue;
} */

