<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<!-- <link rel="stylesheet" href="style.css"> -->
<title>Change Password</title>

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
	crossorigin="anonymous">

<style type="text/css">
.pass {
	width: 50%;
	margin: auto;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 5px 10px 18px #888888;
	padding: 30px;
}

.head {
	background-color: whitesmoke;
}

#logo {
	width: 420px;
	height: 50px;
}
</style>
</head>
<body>

	<div class="container-fluid p-3">
		<img id="logo" th:src="@{/img/Cozentus-Logo.png}" alt="Cozentus-Logo">
	</div>

	<div class="container mt-3">
		<div class="row">
			<div class="input-div pass text-center">
				<div class="head">
					<h1 class="text-center">Change password</h1>
				</div>
				<form action="#" th:action="@{/UpdatePassword}"
					th:object="${password}" method="post">
					<div class="mb-3 mt-3">
						<input type="hidden" th:field="*{userId}" class="form-control"
							id="exampleFormControlInput1" readonly="readonly">
					</div>
					<div class="mb-3 mt-3">
						<input type="password" th:field="*{oldPassword}"
							class="form-control" id="oldPassword"
							placeholder="Current Password">
					</div>
					<div class="mb-3">
						<input type="password" th:field="*{newPassword}"
							class="form-control" id="newPassword" placeholder="New Password">
					</div>
					<div class="mb-3">
						<input type="password" th:field="*{confirmPassword}"
							class="form-control" id="confirmPassword"
							placeholder="Confirm Password">
					</div>

					<div class="btn">
						<input id="btn-submit" type="submit" class="btn btn-success"
							value="Change Password"> <a class="btn btn-danger"
							th:href="@{/dashboard}">Cancel</a>
					</div>
				</form>
				<div class="text-center text-danger" th:text="${message}"></div>
				<div id="warning-msg"></div>
			</div>
		</div>
	</div>
	<script type="text/javascript" th:inline="javascript"
		th:src="@{/js/ChangePasswordScript.js}"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
		crossorigin="anonymous"></script>

</body>
</html>