<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Create/Edit Request</title>




<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	crossorigin="anonymous"></script>
<link
	href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css"
	rel="stylesheet">
<script
	src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

<!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">


<link rel="stylesheet" href="" th:href="@{/css/Request.css}" />
<script src="https://kit.fontawesome.com/4ed2628243.js" crossorigin="anonymous"></script>

</head>

<body>

	<!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Navbar brand -->
                <a class="navbar-brand mt-2 mt-lg-0" href="#">
                    <img th:src="@{/img/Cozentus-Logo.png}" height="25" alt="" loading="lazy" />
                </a>
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link hover-underline-animation" th:href="@{/dashboard}">Dashboard</a>
                    </li>
                    <li th:if="${session.role == 'admin'}" class="nav-item">
                        <a class="nav-link hover-underline-animation" th:href="@{/ViewUsers}">Users</a>
                    </li>
                    <li th:if="${session.role == 'admin'}" class="nav-item">
                        <a class="nav-link hover-underline-animation" th:href="@{/ViewDepts}">Departments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link hover-underline-animation" th:href="@{/MyTasks}">Requests</a>
                    </li>
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->

            <!-- Right elements -->
            <div class="d-flex align-items-center">
                <!-- Icon -->
                <!-- Dropdown -->
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-mdb-toggle="dropdown" aria-expanded="false">
                            Language
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li>
                                <a class="dropdown-item" href="?language=en">English</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="?language=fr">French</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="?language=de">German</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="?language=it">Italian</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="?language=ru">Russian</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <a class="text-reset me-3" href="#">
                    <span th:text="#{welcome.text}"></span>
                    <span th:text="${session.userName}"></span>
                </a>
                <a class="text-reset me-3" th:text="#{logout.text}" th:href="@{/logout}">
                    Log Out
                </a>

                <!-- Avatar -->

            </div>
            <!-- Right elements -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->


	<div class="container mt-3">
		<h1 class="text-center bg-light mb-3">Create Request</h1>
		<form action="#" th:action="@{/saveRequest}" th:object="${request}"
			method="post" autocomplete="off" enctype="multipart/form-data">

			<div class="row mb-3">
				<div class="col-md-3">
					<label for="rqstTitle">Request Title<span
						class="text-danger">*</span></label>
				</div>
				<div class="col-md-9">
					<input type="text" class="form-control" name="title"
						th:field="*{requestTitle}" id="rqstTitle"
						placeholder="Request Title">
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-md-3">
					<label for="rqstDesc">Request Description<span
						class="text-danger">*</span></label>
				</div>
				<div class="col-md-9">
					<input type="text" class="form-control" name="desc" id="rqstDesc"
						th:field="*{requestDescription}" placeholder="Request Description">
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-md-3">
					<label for="deptSelect">Assigned To Dept<span
						class="text-danger">*</span></label>
				</div>

				<div class="col-md-9">
					<select class="form-select" name="rqstDept" th:field="*{requestDept}"
						id="deptSelect">

						<option th:each="id : ${deptIds}" th:text="${id.value}"
							th:value="${id.key}"></option>
					</select>
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-md-3">
					<label for="userSelect">Assigned To User<span
						class="text-danger">*</span></label>
				</div>
				<div class="col-md-9">
					<select class="form-select" th:field="*{assignedTo}" name="assignedTo"
						id="userSelect">

					</select>
				</div>
			</div>

			<div class="row mb-3">
				<div class="col-md-3">
					<label for="severity">Severity<span class="text-danger">*</span></label>
				</div>
				<div class="col-md-4">
					<select name="" class="form-select" th:field="*{requestSeverity}"
						id="severity">
						<option value="0" selected disabled>-Select-</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
					</select>
				</div>

				<div class="col-md-2 text-center">
					<label for="priority">Priority<span class="text-danger">*</span></label>
				</div>
				<div class="col-md-3">
					<select name="" class="form-select" th:field="*{requestPriority}"
						id="priority">
						<option value="0" selected disabled>-Select-</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
					</select>
				</div>
			</div>

			<div class="row mb-3">
				<div class="col-md-3">
					<label for="rqstNum">Request Number</label>
				</div>
				<div class="col-md-4">
					<input class="form-control" type="text" name="rqstNum" id=""
						th:value="${'Auto Generated'}" readonly>
				</div>

				<div class="col-md-2 text-center">
					<label for="status">Status<span class="text-danger">*</span></label>
				</div>
				<div class="col-md-3">
					<input type="text" class="form-control" name="" id="status"
						th:field="*{initialStatus}" readonly>


				</div>
			</div>
			<div class="row mb-3">
				<div class="col-md-3">
					<label for="comments">Comments</label>
				</div>
				<div class="col-md-9">
					<!-- <input class="form-control" type="text" name="" id="comments" placeholder="Comments"> -->
					<textarea class="form-control" name="comments" id="summernote" 
						th:field="*{initialComments}" placeholder="Comments"></textarea>
				</div>
				
			</div>
			<div class="row text-center mb-3">
				<div class="col-md-6">
					<button class="btn btn-success" id="btn-submit">Save</button>
				</div>
				<div class="col-md-6">
					<a class="btn btn-danger" th:href="@{/MyRequests}">Cancel</a>
				</div>
			</div>
		</form>
		<div id="warning-msg"></div>
		<div class="text-center text-danger" th:text="${message}"></div>
	</div>


	<script>
      $('#summernote').summernote({
        placeholder: 'Comments',
        tabsize: 2,
        height: 200,
        toolbar: [
          ['style', ['style']],
          ['font', ['bold', 'underline', 'clear']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['table', ['table']],
          ['insert', ['link', 'picture', 'video']],
          ['view', ['fullscreen', 'codeview', 'help']]
        ]
      });
    </script>



	<script type="text/javascript" th:inline="javascript"
		th:src="@{/js/request.js}"></script>



	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
		crossorigin="anonymous"></script>


	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
		integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>

	
</body>

</html>