<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<!-- <link rel="stylesheet" href="style.css"> -->
<!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
<title>Manage Department</title>

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
	crossorigin="anonymous">

<style type="text/css">
.pass {
	width: 50%;
	margin: auto;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 5px 10px 18px #888888;
	padding: 30px;
}

.head {
	background-color: whitesmoke;
}
#logo {
    width: 420px;
    height: 50px;
}
</style>
</head>
<body>
	 <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Navbar brand -->
                <a class="navbar-brand mt-2 mt-lg-0" href="#">
                    <img th:src="@{/img/Cozentus-Logo.png}" height="25" alt="" loading="lazy" />
                </a>
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link hover-underline-animation" th:href="@{/dashboard}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link hover-underline-animation" th:href="@{/ViewUsers}">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link hover-underline-animation" th:href="@{/ViewDepts}">Departments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link hover-underline-animation" th:href="@{/MyTasks}">Requests</a>
                    </li>
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->

            <!-- Right elements -->
            <div class="d-flex align-items-center">
                <!-- Icon -->
                <!-- Dropdown -->
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-mdb-toggle="dropdown" aria-expanded="false">
                            Language
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li>
                                <a class="dropdown-item" href="?language=en">English</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="?language=fr">French</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="?language=de">German</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="?language=it">Italian</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="?language=ru">Russian</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <a class="text-reset me-3" href="#">
                    <span th:text="#{welcome.text}"></span>
                    <span th:text="${session.userName}"></span>
                </a>
                <a class="text-reset me-3" th:text="#{logout.text}" th:href="@{/logout}">
                    Log Out
                </a>

                <!-- Avatar -->

            </div>
            <!-- Right elements -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
    
	<div class="container mt-3">
		<div class="row">
			<div class="input-div pass text-center">
				<div class="head">
					<h1 class="text-center">Manage Department</h1>
				</div>
				<form action="#" th:action="@{/saveDept}" th:object="${dept}"
					method="post" autocomplete="off">
					<div class="mb-3 mt-3">
						<input type="hidden" th:field="*{userId}" class="form-control"
							id="exampleFormControlInput1" readonly="readonly">
					</div>
					<div class="mb-3 mt-3">
						<input type="text" th:field="*{deptCode}" class="form-control"
							id="DeptCode" placeholder="Department Code">
					</div>
					
					
			<!--  		<div class="mb-3">
						<input type="text" th:field="*{parentDepartmentCode}"
							class="form-control" id="ParentDeptCode"
							placeholder="Parent Department Code">
					</div>    --> 					
					
					<div class="mb-3">
						<input th:field="*{parentDepartmentCode}" class="form-control" list="datalistOptions"
							id="ParentDeptCode" placeholder="Parent Department Code">
						<datalist id="datalistOptions">
							<option th:value="none">New Parent Department</option>
							<option th:each="id : ${deptIds}" th:text = "${id.value}" th:value="${id.key}"></option>
						</datalist>
					</div>
					<div class="mb-3">
						<input type="text" th:field="*{departmentName}"
							class="form-control" id="DeptName" placeholder="Department Name">
					</div>
					<div class="row mb-3">
						<div class="col-md-6">
							<label for="Active" class="form-control">Is Department
								Active</label>
						</div>
						<div class="col-md-6">
							<select id="Active" th:field="*{deptActive}" class="form-control">
								<option th:value="1">True</option>
								<option th:value="0">False</option>
							</select>
						</div>


					</div>


					<div class="btn">
						<input id="btn-submit" type="submit" class="btn btn-success"
							value="Save">
					</div>
					<div class="btn">
						<a class="btn btn-danger" th:href="@{/ViewDepts}">Cancel</a>
					</div>
				</form>
				<div class="text-center text-danger" th:text="${message}"></div>
				<div id="warning-msg"></div>
			</div>
		</div>
	</div>



	<script type="text/javascript" th:inline="javascript"
		th:src="@{/js/DeptValidation.js}"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
		crossorigin="anonymous"></script>
		
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>



</body>
</html>