<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage User</title>
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <style>
        .container {
            width: 70%;
            margin: auto;
            border-radius: 5px;
            box-shadow: 5px 10px 18px #888888;
            padding: 40px;
        }

        #logo {
            width: 420px;
            height: 50px;
        }
    </style>
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Navbar brand -->
                <a class="navbar-brand mt-2 mt-lg-0" href="#">
                    <img th:src="@{/img/Cozentus-Logo.png}" height="25" alt="" loading="lazy" />
                </a>
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link hover-underline-animation" th:href="@{/dashboard}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link hover-underline-animation" th:href="@{/ViewUsers}">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link hover-underline-animation" th:href="@{/ViewDepts}">Departments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link hover-underline-animation" th:href="@{/MyTasks}">Requests</a>
                    </li>
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->

            <!-- Right elements -->
            <div class="d-flex align-items-center">
                <!-- Icon -->
                <!-- Dropdown -->
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-mdb-toggle="dropdown" aria-expanded="false">
                            Language
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li>
                                <a class="dropdown-item" href="?language=en">English</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="?language=fr">French</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="?language=de">German</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="?language=it">Italian</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="?language=ru">Russian</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <a class="text-reset me-3" href="#">
                    <span th:text="#{welcome.text}"></span>
                    <span th:text="${session.userName}"></span>
                </a>
                <a class="text-reset me-3" th:text="#{logout.text}" th:href="@{/logout}">
                    Log Out
                </a>

                <!-- Avatar -->

            </div>
            <!-- Right elements -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
    
    
    <div class="container mt-3">
        <h1 class="text-center bg-light mb-3">Edit User</h1>
        
        <form action="#" th:action="@{/saveEditUser}" th:object="${user}" method="post" autocomplete="off">
        	<h5 class="text-center bg-light mb-3"><a th:href="@{'/deptAccess/' + *{userId}}">Manage User Access</a></h5>
 		    <input type="hidden" th:field="*{userId}">
 		    <input type="hidden" class="form-control" name="" id="password" th:field="*{userPassword}"
                        placeholder="Password">
            <div class="row mb-3">
                <div class="col-md-3">
                    <label for="rqstTitle">User Name<span class="text-danger">*</span></label>
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control" name="" th:field="*{userName}" id="userName"
                        placeholder="User Name">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3">
                    <label for="rqstDesc">User First Name<span class="text-danger">*</span></label>
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control" name="" id="firstName" th:field="*{firstName}"
                        placeholder="First Name">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3">
                    <label for="rqstDesc">User Last Name<span class="text-danger">*</span></label>
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control" name="" id="lastName" th:field="*{lastName}"
                        placeholder="Last Name">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3">
                    <label for="rqstDesc">User Email<span class="text-danger">*</span></label>
                </div>
                <div class="col-md-9">
                    <input type="email" class="form-control" name="" id="email" th:field="*{userEmail}"
                        placeholder="Email">
                </div>
            </div>
            <!-- <div class="row mb-3">
                <div class="col-md-3">
                    <label for="rqstDesc">Password<span class="text-danger">*</span></label>
                </div>
                <div class="col-md-9">
                    <input type="hidden" class="form-control" name="" id="password" th:field="*{userPassword}"
                        placeholder="Password">
                </div>
            </div>  -->

            <div class="row mb-3">
                <div class="col-md-3">
                    <label for="isActive">Is Active<span class="text-danger">*</span></label>
                </div>
                <div class="col-md-9">
                    <select name="" id="isActive" th:field="*{userActive}" class="form-select">
                        <option th:value="1">Yes</option>
                        <option th:value="0">No</option>
                    </select>
                </div>
            </div>

            <div class="row text-center mb-3">
                <div class="col-md-6">
                    <button class="btn btn-success" id="btn-submit">Save</button>
                </div>
                <div class="col-md-6">
                    <a class="btn btn-danger" th:href="@{/dashboard}">Cancel</a>
                </div>
            </div>
        </form>
        <div id="warning-msg"></div>
        <div class="text-center text-danger" th:text="${msg}"></div>
        <div class="alert alert-danger text-center" role="alert" th:text="${error}" th:if="${error}"></div>

    </div>



    <script type="text/javascript" th:inline="javascript" th:src="@{/js/userScript.js}"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
        
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
        
</body>

</html>