<!-- <!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="#" method="post" th:action="@{/reset}" th:object="${user}" >
        <input type="email" name="" th:field="*{userEmail}" id="" placeholder="Enter Email">
        <input type="submit" value="Submit">
    </form>
</body>
</html> -->



<!-- //====================================================================================== -->



<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <style>
        .container {
            width: 50%;
            margin: auto;
            padding: 40px 100px 40px 100px;

            border-radius: 5px;
            box-shadow: 5px 10px 18px #888888;
        }

        .head {
            background-color: whitesmoke;
            margin-bottom: 40px;
        }

        #logo {
            width: 420px;
            height: 50px;
        }
    </style>

</head>

<body>


    <div class="container-fluid p-3">
        <img id="logo" th:src="@{/img/Cozentus-Logo.png}" alt="Cozentus-Logo">
    </div>


    <div class="container mt-3">
        <div class="head">
            <h1 class="text-center">Reset Password</h1>
        </div>
        <form action="#" method="post" th:action="@{/reset}" th:object="${user}">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" th:field="*{userEmail}" id="floatingInput" placeholder="Enter your Registered Email" required>
                <label for="floatingInput">Enter your Registered Email</label>
            </div>
            <div>
                <button type="submit" class="btn btn-success">Reset</button>
                <a class="btn btn-danger" th:href="@{/}">Back</a>
            </div>

        </form>
        <div class="text-center text-secondary mt-3" th:text="${message}"></div>
        
    </div>


    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</body>

</html>