<!-- <!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<link rel="stylesheet" href="style.css">
</head>

<body>

<section>
<div class="card mr-3 ml-3" id="shadow" style="width: auto;">


<script
src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<div class="card-body" id="bd01">
<div class="table-responsive-md">


<table class=“table-footer-cell” id="myTable">
<thead>

<tr class="text-uppercase">
<th scope="col">User ID</th>
<th style="display: none;" scope="col">Department Code</th>
<th scope="col">Department Name</th>
<th style="display: none;" scope="col">CreatedDate</th>
<th scope="col">createdBy</th>
<th scope="col">User_Role</th>
</tr>
</thead>
<tbody>
<tr th:each="dcl : ${listDepts}">

<td th:text="${id}" th:value="${id}"></td>



<td style="display: none;" scope="row" th:text="${dcl.deptId}" th:value="${dcl.deptId}"></td>

<td scope="row" th:text="${dcl.departmentName}" th:value="${dcl.departmentName}"></td>

<td style="display: none;" th:text="${session.curdate}" th:value="${session.curdate}"></td>
<td th:text="${session.userId}" th:value="${session.userId}"></td>

<td scope="row"><select class="form-control"
aria-label="Default select example" name="role" id="role">
<option selected="selected" value="nouser">nouser</option>
<option value="user">user</option>
<option value="admin">admin</option>
</select></td>
</tr>
</tbody>

</table>

<div class="col-sm-11 text-center">
<button class="btn btn-outline-primary float-left " id="myButton"
type="submit" style="width: 48%">Save Department Access</button>
<a class="btn btn-outline-secondary float-right" type="reset"
style="width: 48%" th:href="@{/ViewUsers}">Back</a>


</div>
</form>

</div>
</div>
</div>


<script>
$(document).ready(function() {
$("#myButton").on('click', function() {
var arrData = [];
$("#myTable tbody  tr").each(function() {
var currentRow = $(this).closest("tr");
var col1_value = currentRow.find("td:eq(0)").text();
var col2_value = currentRow.find("td:eq(1)").text();
var col3_value = currentRow.find("td:eq(3)").text();
var col4_value = currentRow.find("td:eq(4)").text();
var col5_value = currentRow.find("option:selected").text();
var obj = {};
obj.userId = col1_value;
obj.deptId = col2_value;
obj.createddate = col3_value;
obj.createdBy = col4_value;
obj.role = col5_value;
arrData.push(obj);
});
console.log(arrData);
$.ajax({
type : "POST",
url : "http://localhost:9090/saveuserrole",
data : JSON.stringify(arrData),
contentType : "application/json",

});

});
});
</script>


</section>
</body>

</html> -->

 
 
 
 
 
 
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
   
   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <style>
        .container {
            width: 60%;
            margin: auto;
        }
    </style>
</head>

<body>

<!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Navbar brand -->
                <a class="navbar-brand mt-2 mt-lg-0" href="#">
                    <img th:src="@{/img/Cozentus-Logo.png}" height="25" alt="" loading="lazy" />
                </a>
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link hover-underline-animation" th:href="@{/dashboard}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link hover-underline-animation" th:href="@{/ViewUsers}">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link hover-underline-animation" th:href="@{/ViewDepts}">Departments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link hover-underline-animation" th:href="@{/MyTasks}">Requests</a>
                    </li>
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->

            <!-- Right elements -->
            <div class="d-flex align-items-center">
                <!-- Icon -->
                <!-- Dropdown -->
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-mdb-toggle="dropdown" aria-expanded="false">
                            Language
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li>
                                <a class="dropdown-item" href="?language=en">English</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="?language=fr">French</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="?language=de">German</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="?language=it">Italian</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="?language=ru">Russian</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <a class="text-reset me-3" href="#">
                    <span th:text="#{welcome.text}"></span>
                    <span th:text="${session.userName}"></span>
                </a>
                <a class="text-reset me-3" th:text="#{logout.text}" th:href="@{/logout}">
                    Log Out
                </a>

                <!-- Avatar -->

            </div>
            <!-- Right elements -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->

    <section>
        <div class="card mr-3 ml-3" id="shadow" style="width: auto;">


            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

            <div class="card-body" id="bd01">
                <div class="table-responsive-md container">

                    <h1 class="text-center bg-light mb-3">Manage User Access</h1>

                    <table class="table table-footer-cell" id="myTable">
                        <thead>
                            <tr class="text-uppercase">
                                <th style="display: none;" scope="col">User ID</th>
                                <th style="display: none;" scope="col">Department Code</th>
                                <th scope="col">Department Name</th>
                                <th style="display: none;" scope="col">CreatedDate</th>
                                <th style="display: none;" scope="col">createdBy</th>
                                <th scope="col">User_Role</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="dcl : ${listDepts}">

                                <td style="display: none;" th:text="${id}" th:value="${id}"></td>



                                <td style="display: none;" scope="row" th:text="${dcl.deptId}" th:value="${dcl.deptId}">
                                </td>

                                <td scope="row" th:text="${dcl.departmentName}" th:value="${dcl.departmentName}"></td>

                                <td style="display: none;" th:text="${session.curdate}" th:value="${session.curdate}">
                                </td>
                                <td style="display: none;" th:text="${session.userId}" th:value="${session.userId}"></td>

                                <td scope="row"><select class="form-select" aria-label="Default select example"
                                        name="role" id="role">
                                        <option selected="selected" value="nouser">nouser</option>
                                        <option value="user">user</option>
                                        <option value="admin">admin</option>
                                    </select></td>
                            </tr>
                           
                        </tbody>

                    </table>

                    <div class="col-sm-12 text-center">
                        <a class="btn btn-outline-primary float-left " id="myButton" type="submit" th:href="@{/ViewUsers}"
                            style="width: 48%">Save Department Access</a>
                        <a class="btn btn-outline-secondary float-right" type="reset" style="width: 48%"
                            th:href="@{/ViewUsers}">Back</a>
                    </div>
                    </form>

                </div>
            </div>
        </div>


        <script>
            $(document).ready(function () {
                $("#myButton").on('click', function () {
                    var arrData = [];
                    $("#myTable tbody  tr").each(function () {
                        var currentRow = $(this).closest("tr");
                        var col1_value = currentRow.find("td:eq(0)").text();
                        var col2_value = currentRow.find("td:eq(1)").text();
                        var col3_value = currentRow.find("td:eq(3)").text();
                        var col4_value = currentRow.find("td:eq(4)").text();
                        var col5_value = currentRow.find("option:selected").text();
                        var obj = {};
                        obj.userId = col1_value;
                        obj.deptId = col2_value;
                        obj.createddate = col3_value;
                        obj.createdBy = col4_value;
                        obj.role = col5_value;
                        arrData.push(obj);
                    });
                    console.log(arrData);
                    $.ajax({
                        type: "POST",
                        url: "http://localhost:9090/saveuserrole",
                        data: JSON.stringify(arrData),
                        contentType: "application/json",

                    });

                });
            });
        </script>


    </section>
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
        
        
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
        
</body>

</html> 