<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home</title>
<!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
	crossorigin="anonymous">
<link rel="stylesheet" href="" th:href="@{/css/Request.css}" />
<script src="https://kit.fontawesome.com/4ed2628243.js"
	crossorigin="anonymous"></script>
</head>

<body>
	<!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Navbar brand -->
                <a class="navbar-brand mt-2 mt-lg-0" href="#">
                    <img th:src="@{/img/Cozentus-Logo.png}" height="25" alt="" loading="lazy" />
                </a>
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link hover-underline-animation" th:href="@{/dashboard}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link hover-underline-animation" th:href="@{/ViewUsers}">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link hover-underline-animation" th:href="@{/ViewDepts}">Departments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link hover-underline-animation" th:href="@{/MyTasks}">Requests</a>
                    </li>
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->

            <!-- Right elements -->
            <div class="d-flex align-items-center">
                <!-- Icon -->
                <!-- Dropdown -->
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-mdb-toggle="dropdown" aria-expanded="false">
                            Language
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li>
                                <a class="dropdown-item" href="?language=en">English</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="?language=fr">French</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="?language=de">German</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="?language=it">Italian</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="?language=ru">Russian</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <a class="text-reset me-3" href="#">
                    <span th:text="#{welcome.text}"></span>
                    <span th:text="${session.userName}"></span>
                </a>
                <a class="text-reset me-3" th:text="#{logout.text}" th:href="@{/logout}">
                    Log Out
                </a>

                <!-- Avatar -->

            </div>
            <!-- Right elements -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
    
	<div class="container-fluid main">
		<h1 class="text-center bg-light mb-3">Department Management</h1>
		<div class="row">
			
			<div class="col-md-3">
				<a class="btn btn-primary btn-sm" th:href="@{/Dept}">Create
					Department</a>
			</div>
			<div class="col-md-6"></div>
			<div class="col-md-3">
				<form th:action="@{/searchDept}" action="" method="get">
					<input type="search" class="form-control" name="search" id="search" placeholder="Search..">
				</form>
			</div>
		</div>

		<table class="table">
			<thead>
				<tr>
					<!-- <th scope="col">Department ID</th> -->
					<th scope="col">Department Code</th>
					<th scope="col">Department Name</th>
					<th scope="col">Parent Department Code</th>
					<th scope="col">Created By</th>
					<th scope="col">Created Date</th> 
					<th scope="col">Is Department Active</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="req, iStat : ${deptPage.content}">
					
					<!-- <td><a th:text="${req.deptId}"
						th:href="@{'/EditDept/' + ${req.deptId}}"></a></td> -->
					<!-- <td><a th:text="${req.requestNumber}"></a></td> -->
					<td><a th:text="${req.deptCode}" th:href="@{'/EditDept/' + ${req.deptId}}"></a></td>
					<td th:text="${req.departmentName}">Mark</td>
					<td th:text="${req.parentDepartmentCode}"></td>
					<td th:text="${req.createdBy}" />
					<td th:text="${req.createdDate}"></td>
					<td th:text="${req.deptActive}"></td>
				</tr>
			</tbody>
		</table>


		

		<nav aria-label="...">
			<ul class="pagination pagination-sm">
				<li class="page-item" th:if="${deptPage.totalPages > 0}"
					th:each="pageNumber : ${pageNumbers}"><a
					th:href="@{/ViewDepts(size=${deptPage.size}, page=${pageNumber})}"
					th:text=${pageNumber} class="page-link" th:style="${pageNumber==deptPage.number + 1} ? 'background-color:#CAEAF0'"></a></li>
			</ul>
		</nav>
		<div class="d-flex flex-row-reverse">
			<a class="btn btn-danger btn-sm m-2" th:href="@{/dashboard}">Back</a>
			<a class="btn btn-info btn-sm m-2" th:href="@{/deptExportPdf}">Generate PDF</a>
		</div>


	</div>
	
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
	
</body>

</html>